{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <p><h1>Somos un grupo de profesionales con la misión de democratizar la educación en Latinoamérica</h1>

    <p><h3>Creamos experiencias de aprendizaje y desarrollo profesional
        increíbles para entusiastas digitales</h3>
    
    <p><h4>NUESTRA MISIÓN ES BRINDAR EDUCACIÓN EFECTIVA
        DE LA MANERA MÁS RÁPIDA Y ACCESIBLE POSIBLE.</h4> 
    
    
    <p><h2>ESTA ES NUESTRA HISTORIA</h2>
    <p><h6>Somos la primera Digital School de Argentina. Fundada en 2014 en Buenos Aires, nacimos como una simple escuela de programación. Con los años fuimos creciendo y comenzamos a ofrecer otros cursos como los de Marketing, Diseño, E Commerce, Product Manager y con el transcurrir de los años, ¡muchísimos cursos más!

        Nuestro foco siempre estuvo puesto en la educación digital; nacimos para crear alternativas a lo tradicional y revolucionar el mundo de la educación. Desde el comienzo buscamos brindar educación efectiva de la manera más accesible y rápida posible. Nuestros cursos se dictan con los mejores profesionales, de manera online y en vivo, con la idea de poder acercar Coderhouse a todo latinoamérica
        
        Con los años, no solo crecimos en variedad de cursos sino que también nos expandimos por Argentina, Uruguay y Chile. Queremos impactar en la educación latinoamericana y dejar nuestra huella en cada curso y estudiante, mejorando la calidad educativa en cada lugar. Para lograr este cambio buscamos trabajar en muchísimas empresas, capacitando a profesionales y contagiando estas ganas de aprender haciendo, por todo el mundo. Trabajamos con Falabella, PedidosYa, Samsung, Accenture ¡y muchísimas más! De esta manera, ayudamos a las empresas a insertarse y adaptarse al mundo digital.
        
        Hoy somos una de las mejores startups de Buenos Aires. Contamos con una gran plataforma y una extensa comunidad educativa que conecta personas que buscan aprender de manera presencial con profesionales que les puedan enseñar.
        
        Dictamos cursos en Buenos Aires, Córdoba, Corrientes, La Plata, Mendoza, Rosario, Montevideo y Santiago de Chile..</h6>
    
{% endblock %}